<th:block th:fragment>
    <div class="container-fluid card-footer">
        <div class="row">
            <ul class="col-md-4">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQ's</a></li>
            </ul>
            <ul class="col-md-4">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
        <br>
        <div class="text-center">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
            ©️ 2020 All rights reserved.
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/shopping-cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/question-before-delete.js}"></script>
</th:block>
