<th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a href="/">
                    <img id="logo" th:src="@{~/logo.png}" alt="E-Shop">
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" data-toggle="modal" data-target="#cart">
                    <img id="cart-icon" th:src="@{~/cart_icon.png}" alt="cart-icon">
                    <span class='badge badge-info total-count' id='cart-count'></span>
                </a>
            </div>
            <div class="text-center col-sm-3">
                <div class="dropdown">
                    <a id="btn-account" data-toggle="dropdown" class="dropdown-toggle btn btn-secondary">Account</a>
                    <div class="dropdown-menu">
                        <ul id="account-dropdown">
                            <th:block sec:authorize="isAnonymous()">
                                <li>
                                    <a class="dropdown-item" href="/login">Sign in</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/register">Sign up</a>
                                </li>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
                                <li>
                                    <a class="dropdown-item" href="/my-orders">Orders</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#cart" href="#">Cart</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <form class="dropdown-item" th:action=@{/logout} th:method="post">
                                        <button class="btn btn-secondary">Logout</button>
                                    </form>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <th:block th:include="~{fragments/nav}"></th:block>
    <th:block th:include="~{fragments/cart}"></th:block>
</th:block>