<th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/">
                    <img id="logo" th:src="${logo}" alt="E-Shop">
                </a>
            </div>
            <div class="col-md-7 text-center">
                <div class="dropdown">
                    <a id="btn-account" data-toggle="dropdown" class="dropdown-toggle btn btn-secondary">Account</a>
                    <div class="dropdown-menu">
                        <ul id="account-dropdown">
                            <th:block sec:authorize="isAnonymous()">
                                <li>
                                    <a class="dropdown-item" href="/login">Sign in</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/register">Sign up</a>
                                </li>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
                                <li>
                                    <a class="dropdown-item" href="/orders">Orders</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/cart">Cart</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <form class="dropdown-item" th:action=@{/logout} th:method="post">
                                        <button class="btn btn-secondary">Logout</button>
                                    </form>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="~{fragments/nav}"></th:block>
</th:block>