<th:block>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/laptops-all">Laptops</a></li>
                <li class="nav-item active"><a class="nav-link" href="/smartphones-all">Smartphones</a></li>
                <li class="nav-item active"><a class="nav-link" href="/smartwatches-all">Smartwatches</a></li>
                <li class="nav-item active"><a class="nav-link" href="/tablets-all">Tablets</a></li>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/users-all">Users</a>
                    </li>
                    <li class="nav-item active ">
                        <div class="dropdown active">
                            <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">Create
                                Product</a>
                            <ul class="dropdown-menu" aria-labelledby="admin-dropdown">
                                <li>
                                    <a class="dropdown-item" href="/admin/laptops-create">Laptop</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/admin/smartphones-create">Smartphone</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/admin/smartwatches-create">Smartwatch</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/tablets-create">Tablet</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
</th:block>