<th:block>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav navbar-">
                <li class="nav-item"><a class="nav-link" href="/laptops-all">Laptops</a></li>
                <li class="nav-item"><a class="nav-link" href="/smartphones-all">Smartphones</a></li>
                <li class="nav-item"><a class="nav-link" href="/smartwatches-all">Smartwatches</a></li>
                <li class="nav-item"><a class="nav-link" href="/tablets-all">Tablets</a></li>
            </ul>
        </nav>
    </div>
</th:block>