<th:block>
    <th:block sec:authorize="isAnonymous()">
        <div>
            <nav>
                <ul>
                    <li><a href="/laptops-all">Laptops</a></li>
                    <li><a href="/smartphones-all">Smartphones</a></li>
                    <li><a href="/smartwatches-all">Smartwatches</a></li>
                    <li><a href="/tablets-all">Tablets</a></li>
                    <li><a href="/televisions-all">Televisions</a></li>
                </ul>
            </nav>
        </div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <div>
            <nav>
                <ul>
                    <li><a href="/laptops-all">Laptops</a></li>
                    <li><a href="/smartphones-all">Smartphones</a></li>
                    <li><a href="/smartwatches-all">Smartwatches</a></li>
                    <li><a href="/tablets-all">Tablets</a></li>
                    <li><a href="/televisions-all">Televisions</a></li>
                    <li>
                        <form th:action=@{/logout} th:method="post">
                            <button>Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</th:block>