html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 100px;
    text-align: center;
}

tbody tr:nth-child(2n+1) {
    background: #f1f6ff;
}

table > tbody > tr > th {
    width: 50%;
}

.product-characteristics {
    margin: auto;
    width: 50% !important;
}

#btn-buy, #btn-edit, #btn-delete, #btn-login {
    width: 100px;
    margin-top: 15px;
}

#btn-account {
    margin: 12px;
    float: right;
}

.form-control {
    margin-top: 10px;
    width: 400px;
}

#logo {
    height: 60px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.product-link {
    border: 0;
}

.item-characteristic {
    list-style-type: square;
    margin-left: 20px;
}

.product-picture {
    width: 200px;
}

.border-dark {
    margin: 43px;
}

.heading {
    margin: 35px;
    color: #6c757d;
}

a:hover {
    text-decoration: none;
}

#cart-picture {
    width: 100px;
}

item-cart-info {
    vertical-align: -20px;
}