html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem;
    height: 100px;
    text-align: center;
}

tbody tr:nth-child(2n+1) {
    background: #f1f6ff;
}

table > tbody > tr > th {
    width: 50%;
}

.product-characteristics {
    margin: auto;
    width: 50% !important;
}

#btn-buy, #btn-edit, #btn-delete, #btn-login {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control {
    margin-top: 10px;
    width: 400px;
}