<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <div>
        <div class="text-center">
            <img th:src="${smartphone.imgUrl}" th:alt="${smartphone.brand} + ' ' + ${smartphone.model}">
        </div>
        <h2 class="h2 text-justify text-center">FULL SPECIFICATION</h2>
        <table class="product-characteristics table">
            <tbody>
            <tr>
                <th scope="row">Brand:</th>
                <td><a th:text="${smartphone.brand}"></a></td>
            </tr>
            <tr>
                <th scope="row">Model:</th>
                <td><a th:text="${smartphone.model}"></a></td>
            </tr>
            <tr>
                <th scope="row">CPU:</th>
                <td><a th:text="${smartphone.centralProcessingUnit}"></a></td>
            </tr>
            <tr>
                <th scope="row">Camera:</th>
                <td><a th:text="${smartphone.camera} + 'MP'"></a></td>
            </tr>
            <tr>
                <th scope="row">Display:</th>
                <td><a th:text="${smartphone.display} + ' inches'"></a></td>
            </tr>
            <tr>
                <th scope="row">RAM:</th>
                <td><a th:text="${smartphone.ram} + 'GB'"></a></td>
            </tr>
            <tr>
                <th scope="row">Storage:</th>
                <td><a th:text="${smartphone.storage} + 'GB'"></a></td>
            </tr>
            <tr>
                <th scope="row">Battery Capacity:</th>
                <td><a th:text="${smartphone.batteryCapacity} + 'mAh'"></a></td>
            </tr>
            <tr>
                <th scope="row">Memory Card:</th>
                <td><a th:text="${smartphone.hasMemoryCardSlot} ? 'YES' : 'NO'"></a></td>
            </tr>
            <tr>
                <th scope="row">Weight:</th>
                <td><a th:text="${smartphone.weight} + 'kg'"></a></td>
            </tr>
            <tr>
                <th scope="row">Price:</th>
                <td><a th:text="${smartphone.price} + '$'"></a></td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="list-inline-item">
                        <form th:action="@{/admin/smartphones-edit/{brand}/{model} (brand = ${smartphone.brand}, model = ${smartphone.model})}"
                              th:method="get">
                            <button id="btn-edit" class="btn btn-primary" th:text="EDIT"></button>
                        </form>
                    </li>
                    <li class="list-inline-item">
                        <form th:action="@{/admin/smartphones-delete/{brand}/{model} (brand = ${smartphone.brand}, model = ${smartphone.model})}"
                              th:method="post">
                            <button id="btn-delete" class="btn btn-danger" th:text="DELETE"></button>
                        </form>
                    </li>
                </th:block>
                <li class="list-inline-item">
                    <button id="btn-buy" class="btn btn-secondary" th:text="BUY"></button>
                </li>
            </ul>
            <br>
            <a th:href="@{/smartphones-brand/{brand} (brand = ${smartphone.brand})}"
               th:text="'Smartphones ' + ${smartphone.brand}"></a>
        </div>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>