<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<h1>Smartphones:</h1>
<br>
<div>
    <th:block th:each="smartphone, iter : ${smartphones}">
        <ul>
            <a href="#">
                <h2 th:text="${smartphone.brand} + ' ' + ${smartphone.model}"></h2>
            </a>
            <li th:text="${smartphone.display}"></li>
            <li th:text="${smartphone.price} + '$'"></li>
            <li th:text="${smartphone.centralProcessingUnit}"></li>
            <li th:text="${smartphone.camera}"></li>
            <li th:text="${smartphone.batteryCapacity}"></li>
            <li th:text="${smartphone.storage} + 'GB'"></li>
            <li th:text="${smartphone.ram} + 'GB'"></li>
            <li th:text="${smartphone.hasMemoryCardSlot}"></li>
            <li th:text="${smartphone.weight} + 'kg'"></li>
        </ul>
    </th:block>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>