<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<br>
<div>
    <img th:src="${smartphone.imgUrl}" th:alt="${smartphone.brand} + ' ' + ${smartphone.model}">
    <h2 th:text="${smartphone.brand} + ' ' + ${smartphone.model}"></h2>
    <ul>
        <li th:text="${smartphone.display}"></li>
        <li th:text="${smartphone.centralProcessingUnit}"></li>
        <li th:text="${smartphone.camera}"></li>
        <li th:text="${smartphone.ram} + 'GB'"></li>
        <li th:text="${smartphone.storage} + 'GB'"></li>
        <li th:text="${smartphone.batteryCapacity} + 'mAh'"></li>
        <li th:text="${smartphone.hasMemoryCardSlot}"></li>
        <li th:text="${smartphone.weight} + 'kg'"></li>
        <li th:text="${smartphone.price} + '$'"></li>
    </ul>
    <form th:action="@{/smartphones-edit/{brand}/{model} (brand = ${smartphone.brand}, model = ${smartphone.model})}"
          th:method="get">
        <button th:text="EDIT"></button>
    </form>
    <form th:action="@{/smartphones-delete/{brand}/{model} (brand = ${smartphone.brand}, model = ${smartphone.model})}"
          th:method="post">
        <button th:text="DELETE"></button>
    </form>
    <button th:text="BUY"></button>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>