<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="~{fragments/header}"></th:block>
<h2 class="text-center h2 heading">Your Cart:</h2>
<hr>
<div>
    <th:block th:each="item, iter : ${items}">
        <div class="text-center">
            <ul class="list-inline">
                <img class="list-inline-item" id="cart-picture" th:src="${item.imgUrl}">
                <li class="list-inline-item text-secondary h5 item-cart-info" th:text="${item.brand}"></li>
                <li class="list-inline-item text-secondary h5 item-cart-info" th:text="${item.model}"></li>
                <li class="list-inline-item text-info h5 item-cart-info" th:text="${item.price} + '$'"></li>
            </ul>
        </div>
        <hr>
    </th:block>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>