<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<div>
    <nav>
        <ul>
            <li><a href="/laptops">Laptops</a></li>
            <li><a href="/smartphones">Smartphones</a></li>
            <li><a href="/smartwatches">Smartwatches</a></li>
            <li><a href="/tablets">Tablets</a></li>
            <li><a href="/televisions">Televisions</a></li>
        </ul>
    </nav>
</div>
<div>
    <h1>Contact Information</h1>

    <p>Four Quick and Easy Solutions – We’re here to help you!</p>
    <h3>1. CALL the Eshop Customer Loyalty Team:</h3>
    <p>We are here for you 24 hours a day – 365 days a year. 1-123-345-4567</p>
    <h3>2. BRAND NEW: TEXT the Eshop Customer Loyalty Team:</h3>
    <p>Text CHAT to 1-123-123-123 to chat with the Eshop Customer Loyalty Team by text.</p>
    <h3>3. EMAIL US:</h3>
    <p>We look forward to helping you with your inquiry. While not as quick as Live Chat, we respond to email messages
        in the order that they are received, and will respond to your email as quickly as possible.</p>
    <p>Email us: info@eshop.com</p>
    <h3>4. CONNECT WITH LIVE HELP:</h3>
    <p>Ask your question right now with a member of the Eshop Customer Loyalty Team.
        <br>
        <a href="#">Go ahead - start a conversation now!</a>
    </p>
</div>

<footer>
    <div>
        <nav>
            <ul>
                <li><a href="/contacts">Contact us</a></li>
                <li><a href="/general-questions">FAQ's</a></li>
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        ©️ 2020 All rights reserved.
    </div>
</footer>
</body>
</html>