<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Questions</title>
</head>
<body>
<div>
    <nav>
        <ul>
            <li><a href="/laptops">Laptops</a></li>
            <li><a href="/smartphones">Smartphones</a></li>
            <li><a href="/smartwatches">Smartwatches</a></li>
            <li><a href="/tablets">Tablets</a></li>
            <li><a href="/televisions">Televisions</a></li>
        </ul>
    </nav>
</div>
<dl>
    <dt>
        <abbr title="Question">Q:</abbr>
        <h4>I would like to return a gift that was sent to me. How do I do that?</h4>
    </dt>
    <dd>
        <abbr title="Answer">A:</abbr>
        <p>Eshop is very sorry that your gift did not work for you. Please call the Eshop Customer Loyalty Team
            for assistance returning the item.</p>
    </dd>
    <dt>
        <abbr title="Question">Q:</abbr>
        <h4>How long does it take for me to get a refund?</h4>
    </dt>
    <dd>
        <abbr title="Answer">A:</abbr>
        <p>For the vast majority of returns, it takes about 5-10 Business Days for us to get your package at the
            fulfillment center, inspect your return, process it into inventory, and complete your refund. If the refund
            is being issued to a credit card, depending on your credit card company, it may take an additional 2-10
            Business Days after your credit is applied for it to post to your account.</p>
    </dd>
    <dt>
        <abbr title="Question">Q:</abbr>
        <h4>Do you do back orders?</h4>
    </dt>
    <dd>
        <abbr title="Answer">A:</abbr>
        <p>No. We do not do back orders. If an item is out of stock the Eshop Customer Loyalty Team will notify you as
            soon as possible and ask if you would like a replacement item. Out of stock orders will be cancelled unless
            a replacement item is requested.</p>
    </dd>
    <dt>
        <abbr title="Question">Q:</abbr>
        <h4>Is the item I want going to go on sale soon?</h4>
    </dt>
    <dd>
        <abbr title="Answer">A:</abbr>
        <p>Unfortunately, Eshop does not know if an item will go on sale or be marked down until it actually
            happens. </p>
    </dd>
    <dt>
        <abbr title="Question">Q:</abbr>
        <h4>How can I get assistance if I need it?</h4>
    </dt>
    <dd>
        <abbr title="Answer">A:</abbr>
        <a href="/contacts">Contact us</a>
    </dd>
</dl>
<footer>
    <div>
        <nav>
            <ul>
                <li><a href="/contacts">Contact us</a></li>
                <li><a href="/general-questions">FAQ's</a></li>
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        ©️ 2020 All rights reserved.
    </div>
</footer>
</body>
</html>