<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="~{fragments/header}"></th:block>
<div>
    <main>
        <div class="container">
            <h2 class="text-center h2">Sign in</h2>
            <hr/>
            <form th:method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control col-md-4" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control col-md-4" type="password" id="password" name="password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <hr/>
            <h1>New User? <a href="/register"><strong>Sign up</strong></a></h1>
        </div>
    </main>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>