<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="~{fragments/header}"></th:block>
<div>
    <main>
        <div class="container-fluid">
            <h2 class="text-center h2 heading">Sign in</h2>
            <hr/>
            <div class="text-center">
                <form th:method="post" th:action="@{/login}">
                    <div class="form-group">
                        <label for="username">Username
                            <input class="form-control" type="text" id="username" name="username">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">Password
                            <input class="form-control" type="password" id="password" name="password">
                        </label>
                    </div>
                    <div>
                        <button id="btn-login" class="btn btn-secondary" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <hr/>
            <h1>New User? <a href="/register"><strong>Sign up</strong></a></h1>
        </div>
    </main>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>