<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="~{fragments/nav}"></th:block>
<div>
    <main>
        <div>
            <hr/>
            <h1>Sign up</h1>
            <hr/>
            <form th:method="post" th:action="@{/register}">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" placeholder="Username..." name="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Password..." name="password">
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" placeholder="Confirm Password..."
                           name="confirmPassword">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" id="email" placeholder="Email..." name="email">
                </div>
                <hr/>
                <div>
                    <button type="submit">Sign up</button>
                </div>
            </form>
            <hr/>
            <h1>Have Account?</h1>
            <a href="/login"><strong>Sign in</strong></a>
            <hr/>
        </div>

    </main>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>