<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Televisions</title>
</head>
<body>
<div>
    <nav>
        <ul>
            <li><a href="/laptops">Laptops</a></li>
            <li><a href="/smartphones">Smartphones</a></li>
            <li><a href="/smartwatches">Smartwatches</a></li>
            <li><a href="/tablets">Tablets</a></li>
            <li><a href="/televisions">Televisions</a></li>
        </ul>
    </nav>
</div>
<a href="/">Home Page</a>
<footer>
    <div>
        <nav>
            <ul>
                <li><a href="/contacts">Contact us</a></li>
                <li><a href="/general-questions">FAQ's</a></li>
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        ©️ 2020 All rights reserved.
    </div>
</footer>
</body>
</html>