<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/header}"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading">Your orders:</h2>
    <br>
    <div>
        <table class="table table-hover mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-2 text-center">Name</th>
                <th class="col-md-2 text-center">City</th>
                <th class="col-md-3 text-center">Street Address</th>
                <th class="col-md-2 text-center">Phone</th>
                <th class="col-md-1 text-center">Amount</th>
                <th class="col-md-1 text-center">Finished</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order, iter : ${orders}">
                <tr class="row mx-auto">
                    <td class="col-md-1 text-center"><a th:text="${order.id}"
                                                        th:href="'/my-orders/order/' + ${order.id}"></a></td>
                    <td class="col-md-2 text-center" th:text="${order.firstName} + ' ' + ${order.lastName}"></td>
                    <td class="col-md-2 text-center" th:text="${order.city}"></td>
                    <td class="col-md-3 text-center" th:text="${order.streetAddress}"></td>
                    <td class="col-md-2 text-center" th:text="${order.phone}"></td>
                    <td class="col-md-1 text-center" th:text="${order.amount}"></td>
                    <td class="col-md-1 text-center" th:text="${order.finished}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>