<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading">Create Tablet:</h2>
    <div class="text-center">
        <form th:method="post" th:action="@{/admin/tablets-create}">
            <div class="form-group">
                <label for="brand">Brand:
                    <input class="form-control" type="text" id="brand" name="brand">
                </label>
            </div>
            <div class="form-group">
                <label for="model">Model:
                    <input class="form-control" type="text" id="model" name="model">
                </label>
            </div>
            <div class="form-group">
                <label for="image">Image URL:
                    <input class="form-control" type="text" id="image" name="imgUrl">
                </label>
            </div>
            <div class="form-group">
                <label for="display">Display:
                    <input class="form-control" type="text" id="display" name="display">

            </div>
            <div class="form-group">
                <label for="price">Price:
                    <input class="form-control" type="number" id="price" name="price">
                </label>
            </div>
            <div class="form-group">
                <label for="cpu">CPU:
                    <input class="form-control" type="text" id="cpu"
                           name="centralProcessingUnit">
                </label>
            </div>
            <div class="form-group">
                <label for="camera">Camera:
                    <input class="form-control" type="text" id="camera" name="camera">
                </label>
            </div>
            <div class="form-group">
                <label for="batteryCapacity">Battery Capacity:
                    <input class="form-control" type="number" id="batteryCapacity" name="batteryCapacity">
                </label>
            </div>
            <div class="form-group">
                <label for="storage">Storage:
                    <input class="form-control" type="number" id="storage" name="storage">
                </label>
            </div>
            <div class="form-group">
                <label for="ram">RAM:
                    <input class="form-control" type="number" id="ram" name="ram">
                </label>
            </div>
            <div>
                <button class="btn btn-secondary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>