<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container">
    <h2 class="text-center  h2" th:text="${tablet.brand} + ' ' + ${tablet.model}"></h2>
    <div>
        <ul>
            <form th:action="@{/tablets-edit/{brand}/{model} (brand = ${tablet.brand}, model = ${tablet.model})}"
                  th:method="post">
                <div class="form-group">
                    <label for="image">Image URL:</label>
                    <input class="form-control col-md-4" type="text" id="image" name="imgUrl"
                           th:value="${tablet.imgUrl}">
                </div>
                <div class="form-group">
                    <label for="display">Display:</label>
                    <input class="form-control col-md-4" type="text" id="display" name="display"
                           th:value="${tablet.display}">
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input class="form-control col-md-4" type="number" id="price" name="price"
                           th:value="${tablet.price}">
                </div>
                <div class="form-group">
                    <label for="cpu">CPU:</label>
                    <input class="form-control col-md-4" type="text" id="cpu"
                           name="centralProcessingUnit" th:value="${tablet.centralProcessingUnit}">
                </div>
                <div class="form-group">
                    <label for="camera">Camera:</label>
                    <input class="form-control col-md-4" type="text" id="camera" name="camera"
                           th:value="${tablet.camera}">
                </div>
                <div class="form-group">
                    <label for="batteryCapacity">Battery Capacity:</label>
                    <input class="form-control col-md-4" type="number" id="batteryCapacity" name="batteryCapacity"
                           th:value="${tablet.batteryCapacity}">
                </div>
                <div class="form-group">
                    <label for="storage">Storage:</label>
                    <input class="form-control col-md-4" type="number" id="storage" name="storage"
                           th:value="${tablet.storage}">
                </div>
                <div class="form-group">
                    <label for="ram">RAM:</label>
                    <input class="form-control col-md-4" type="number" id="ram" name="ram" th:value="${tablet.ram}">
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </ul>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>