<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<br>
<h2 th:text="${tablet.brand} + ' ' + ${tablet.model}"></h2>
<div>
    <ul>
        <li th:text="${tablet.centralProcessingUnit}"></li>
        <li th:text="${tablet.ram} + 'GB'"></li>
        <li th:text="${tablet.storage} + 'GB'"></li>
        <li th:text="${tablet.price} + '$'"></li>
    </ul>
    <form th:action="@{/tablets-edit/{brand}/{model} (brand = ${tablet.brand}, model = ${tablet.model})}"
          th:method="get">
        <button th:text="EDIT"></button>
    </form>
    <form th:action="@{/tablets-delete/{brand}/{model} (brand = ${tablet.brand}, model = ${tablet.model})}"
          th:method="post">
        <button th:text="DELETE"></button>
    </form>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>