<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<h1>Tablets:</h1>
<br>
<div>
    <th:block th:each="tablet, iter : ${tablets}">
        <ul>
            <img th:src="${tablet.imgUrl}" th:alt="${tablet.brand} + ' ' + ${tablet.model}" width="200">
            <a th:href="@{/tablets/{brand}/{model}(brand = ${tablet.brand}, model = ${tablet.model})}">
                <h2 th:text="${tablet.brand} + ' ' + ${tablet.model}"></h2>
            </a>
            <li th:text="${tablet.centralProcessingUnit}"></li>
            <li th:text="${tablet.display}"></li>
            <li th:text="${tablet.camera} + 'MP'"></li>
            <li th:text="${tablet.storage} + 'GB'"></li>
        </ul>
        <h3 th:text="${tablet.price} + '$'"></h3>
    </th:block>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>