<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading">Tablets:</h2>
    <br>
    <div>
        <th:block th:each="tablet, iter : ${tablets}">
            <div class="border border-dark list-inline-item">
                <ul>
                    <a class="text-center list-group-item product-link"
                       th:href="@{/tablets/{brand}/{model}(brand = ${tablet.brand}, model = ${tablet.model})}">
                        <img class="product-picture" th:src="${tablet.imgUrl}"
                             th:alt="${tablet.brand} + ' ' + ${tablet.model}">
                        <h4 class="text-secondary h4" th:text="${tablet.brand} + ' ' + ${tablet.model}"></h4>
                    </a>
                    <hr>
                    <li class="item-characteristic" th:text="${tablet.centralProcessingUnit}"></li>
                    <li class="item-characteristic" th:text="${tablet.display} + ' inches'"></li>
                    <li class="item-characteristic" th:text="${tablet.camera} + 'MP'"></li>
                    <li class="item-characteristic" th:text="${tablet.storage} + 'GB'"></li>
                </ul>
                <hr>
                <h3 class="text-center text-info h3" th:text="${tablet.price} + '$'"></h3>
                <br>
            </div>
        </th:block>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>