<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading" th:text="${tablet.brand} + ' ' + ${tablet.model}"></h2>
    <div class="text-center">
        <ul>
            <form th:action="@{/admin/tablets-edit/{brand}/{model} (brand = ${tablet.brand}, model = ${tablet.model})}"
                  th:method="post">
                <div class="form-group">
                    <label for="image">Image URL:
                        <input class="form-control" type="text" id="image" name="imgUrl"
                               th:value="${tablet.imgUrl}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="display">Display:
                        <input class="form-control" type="text" id="display" name="display"
                               th:value="${tablet.display}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="price">Price:
                        <input class="form-control" type="number" id="price" name="price" step="0.01"
                               th:value="${tablet.price}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="cpu">CPU:
                        <input class="form-control" type="text" id="cpu"
                               name="centralProcessingUnit" th:value="${tablet.centralProcessingUnit}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="camera">Camera:
                        <input class="form-control" type="text" id="camera" name="camera"
                               th:value="${tablet.camera}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="batteryCapacity">Battery Capacity:
                        <input class="form-control" type="number" id="batteryCapacity" name="batteryCapacity"
                               th:value="${tablet.batteryCapacity}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="storage">Storage:
                        <input class="form-control" type="number" id="storage" name="storage"
                               th:value="${tablet.storage}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="ram">RAM:
                        <input class="form-control" type="number" id="ram" name="ram" th:value="${tablet.ram}">
                    </label>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>
        </ul>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>