<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<h1>Smartwatches:</h1>
<br>
<div>
    <th:block th:each="smartwatch, iter : ${smartwatches}">
        <ul>
            <a href="#">
                <h2 th:text="${smartwatch.brand} + ' ' + ${smartwatch.model}"></h2>
            </a>
            <li th:text="${smartwatch.display}"></li>
            <li th:text="${smartwatch.price} + '$'"></li>
            <li th:text="${smartwatch.centralProcessingUnit}"></li>
            <li th:text="${smartwatch.storage} + 'GB'"></li>
            <li th:text="${smartwatch.ram} + 'GB'"></li>
            <li th:text="${smartwatch.hasCamera}"></li>
            <li th:text="${smartwatch.batteryCapacity}"></li>
        </ul>
    </th:block>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>