<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<h1>Smartwatches:</h1>
<br>
<div>
    <th:block th:each="smartwatch, iter : ${smartwatches}">
        <ul>
            <img th:src="${smartwatch.imgUrl}" th:alt="${smartwatch.brand} + ' ' + ${smartwatch.model}" width="200">
            <a th:href="@{/smartwatches/{brand}/{model}(brand = ${smartwatch.brand}, model = ${smartwatch.model})}">
                <h2 th:text="${smartwatch.brand} + ' ' + ${smartwatch.model}"></h2>
            </a>
            <li th:text="${smartwatch.display}"></li>
            <li th:text="${smartwatch.storage} + 'GB'"></li>
            <li th:text="${smartwatch.batteryCapacity} + 'mAh'"></li>
        </ul>
        <h3 th:text="${smartwatch.price} + '$'"></h3>
    </th:block>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>