<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container">
    <h2 class="text-center h2">Create Smartwatch:</h2>
    <div>
        <form th:method="post" th:action="@{/smartwatches-create}">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input class="form-control col-md-4" type="text" id="brand" name="brand">
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input class="form-control col-md-4" type="text" id="model" name="model">
            </div>
            <div class="form-group">
                <label for="image">Image URL:</label>
                <input class="form-control col-md-4" type="text" id="image" name="imgUrl">
            </div>
            <div class="form-group">
                <label for="display">Display:</label>
                <input class="form-control col-md-4" type="text" id="display" name="display">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input class="form-control col-md-4" type="number" id="price" name="price">
            </div>
            <div class="form-group">
                <label for="cpu">CPU:</label>
                <input class="form-control col-md-4" type="text" id="cpu"
                       name="centralProcessingUnit">
            </div>
            <div class="form-group">
                <label for="batteryCapacity">Battery Capacity:</label>
                <input class="form-control col-md-4" type="number" id="batteryCapacity" name="batteryCapacity">
            </div>
            <div class="form-group">
                <label for="storage">Storage:</label>
                <input class="form-control col-md-4" type="number" id="storage" name="storage">
            </div>
            <div class="form-group">
                <label for="ram">RAM:</label>
                <input class="form-control col-md-4" type="number" id="ram" name="ram">
            </div>
            <div class="form-group">
                <label for="hasCamera">Camera:</label>
                <input class="form-check" type="checkbox" id="hasCamera" name="hasCamera">
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>