<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<br>
<h2 th:text="${television.brand} + ' ' + ${television.model}"></h2>
<div>
    <ul>
        <li th:text="${television.display}"></li>
        <li th:text="${television.width} + 'inches'"></li>
        <li th:text="${television.height} + 'inches'"></li>
    </ul>
    <form th:action="@{/televisions-edit/{brand}/{model} (brand = ${television.brand}, model = ${television.model})}"
          th:method="get">
        <button th:text="EDIT"></button>
    </form>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>