<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<br>
<div>
    <ul>
        <li>
            <h2 th:text="${laptop.brand} + ' ' + ${laptop.model}"></h2>
        </li>
        <li th:text="${laptop.centralProcessingUnit}"></li>
        <li th:text="${laptop.graphicsProcessingUnit}"></li>
        <li th:text="${laptop.ram} + 'GB'"></li>
        <li th:text="${laptop.storage} + 'GB'"></li>
        <li th:text="${laptop.price} + '$'"></li>
    </ul>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>