<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading">Laptops:</h2>
    <br>
    <div class="row">
        <th:block th:each="laptop, iter : ${laptops}">
            <div class="border border-dark col-lg-3">
                <ul>
                    <a class="text-center list-group-item product-link"
                       th:href="@{/laptops/{brand}/{model}(brand = ${laptop.brand}, model = ${laptop.model})}">
                        <img class="product-picture" th:src="${laptop.imgUrl}"
                             th:alt="${laptop.brand} + ' ' + ${laptop.model}">
                        <h2 th:text="${laptop.brand} + ' ' + ${laptop.model}"></h2>
                    </a>
                    <li class="item-characteristic" th:text="${laptop.centralProcessingUnit}"></li>
                    <li class="item-characteristic" th:text="${laptop.graphicsProcessingUnit}"></li>
                    <li class="item-characteristic" th:text="${laptop.ram} + 'GB RAM'"></li>
                    <li class="item-characteristic" th:text="${laptop.storage} + 'GB'"></li>
                </ul>
                <h3 class="text-center text-info h3" th:text="${laptop.price} + '$'"></h3>
                <br>
            </div>
        </th:block>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>