<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div class="container-fluid">
    <h2 class="text-center h2 heading" th:text="${laptop.brand} + ' ' + ${laptop.model}"></h2>
    <div class="text-center">
        <ul>
            <form th:action="@{/admin/laptops-edit/{brand}/{model} (brand = ${laptop.brand}, model = ${laptop.model})}"
                  th:method="post">
                <div class="form-group">
                    <label for="image">Image URL:
                        <input class="form-control" type="text" id="image" name="imgUrl"
                               th:value="${laptop.imgUrl}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="display">Display:
                        <input class="form-control" type="text" id="display" name="display"
                               th:value="${laptop.display}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="price">Price:
                        <input class="form-control" type="number" id="price" name="price" step="0.01"
                               th:value="${laptop.price}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="cpu">CPU:
                        <input class="form-control" type="text" id="cpu"
                               name="centralProcessingUnit" th:value="${laptop.centralProcessingUnit}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="gpu">GPU:
                        <input class="form-control" type="text" id="gpu"
                               name="graphicsProcessingUnit" th:value="${laptop.graphicsProcessingUnit}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="storage">Storage:
                        <input class="form-control" type="number" id="storage" name="storage"
                               th:value="${laptop.storage}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="ram">RAM:
                        <input class="form-control" type="number" id="ram" name="ram" th:value="${laptop.ram}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="weight">Weight:
                        <input class="form-control" type="number" id="weight" name="weight" step="0.1"
                               th:value="${laptop.weight}">
                    </label>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>
        </ul>
    </div>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>