<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<a href="/">Home Page</a>
<th:block th:include="fragments/nav"></th:block>
<br>
<div>
    <img th:src="${laptop.imgUrl}" th:alt="${laptop.brand} + ' ' + ${laptop.model}">
    <h2 th:text="${laptop.brand} + ' ' + ${laptop.model}"></h2>
    <ul>
        <li th:text="${laptop.centralProcessingUnit}"></li>
        <li th:text="${laptop.graphicsProcessingUnit}"></li>
        <li th:text="${laptop.display}"></li>
        <li th:text="${laptop.ram} + 'GB'"></li>
        <li th:text="${laptop.storage} + 'GB'"></li>
        <li th:text="${laptop.weight} + 'kg'"></li>
        <li th:text="${laptop.price} + '$'"></li>
    </ul>
    <form th:action="@{/laptops-edit/{brand}/{model} (brand = ${laptop.brand}, model = ${laptop.model})}"
          th:method="get">
        <button th:text="EDIT"></button>
    </form>
    <form th:action="@{/laptops-delete/{brand}/{model} (brand = ${laptop.brand}, model = ${laptop.model})}"
          th:method="post">
        <button th:text="DELETE"></button>
    </form>
    <button th:text="BUY"></button>
</div>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>